html {
    font-size: 15px;
    --primary: #6610f2;
    --secondary: #1a8fe3;
    --tertiary: #d11149;
    --font-primary: #E6C229;
    --font-secondary: #f17105;
}

body {
    margin: 0px;
    background-color: var(--secondary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Audiowide", sans-serif;
    background-color: var(--primary);
    padding: 0.5rem;
}
h1 {
    display: inline;
    align-self: flex-start;
    margin: 0px;
    font-size: 2.5rem;
    color: var(--font-primary);
    padding-left: 0.5rem;
}

nav {
    align-self: flex-end;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}
nav a {
    color: var(--font-primary);
}
nav a:hover {
    font-weight: bold;
}

main {
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem;
    padding: 0.5rem;
    background-color: var(--tertiary);
    border: 3px solid var(--primary);
    border-radius: 3%;
}
#searchBar {
    padding: 0.5rem;
}
#searchSubmit{
    font-family: "Roboto Condensed", sans-serif;
    color: var(--primary)
}
#results {
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
#results img {
    justify-self: space-around;
}